.nosso-blog {
  background-color: #ffffff;
  height: 1860px;
  min-width: 1440px;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.nosso-blog .text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: calc(50% - 618px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 300px;
}

.nosso-blog .confira-nossas {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 45px;
  font-style: italic;
  font-weight: 700;
  left: calc(50% - 620px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 70px;
}

.nosso-blog .rectangle {
  background-color: #555a57;
  border-radius: 100px;
  height: 32px;
  left: 1117px;
  position: absolute;
  top: 210px;
  width: 32px;
}

.nosso-blog .div {
  background-color: #ffc600;
  border-radius: 100px;
  height: 32px;
  left: 1160px;
  position: absolute;
  top: 210px;
  width: 32px;
}

.nosso-blog .rectangle-2 {
  background-color: #ffc600;
  border-radius: 100px;
  height: 32px;
  left: 1202px;
  position: absolute;
  top: 210px;
  width: 32px;
}

.nosso-blog .rectangle-3 {
  background-color: #ffc600;
  border-radius: 100px;
  height: 32px;
  left: 1246px;
  position: absolute;
  top: 210px;
  width: 32px;
}

.nosso-blog .rectangle-4 {
  background-color: #ffc600;
  border-radius: 100px;
  height: 32px;
  left: 1289px;
  position: absolute;
  top: 210px;
  width: 32px;
}

.nosso-blog .rectangle-5 {
  background-color: #ffc600;
  border-radius: 100px;
  height: 32px;
  left: 102px;
  position: absolute;
  top: 211px;
  width: 285px;
}

.nosso-blog .p {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50% - 596px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 217px;
  white-space: nowrap;
  width: 240px;
}

.nosso-blog .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50% + 404px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 217px;
  white-space: nowrap;
  width: 18px;
}

.nosso-blog .text-wrapper-3 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50% + 447px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 217px;
  white-space: nowrap;
  width: 18px;
}

.nosso-blog .text-wrapper-4 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50% + 490px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 217px;
  white-space: nowrap;
  width: 18px;
}

.nosso-blog .text-wrapper-5 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50% + 532px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 217px;
  white-space: nowrap;
  width: 19px;
}

.nosso-blog .text-wrapper-6 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50% + 576px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 217px;
  white-space: nowrap;
  width: 19px;
}

.nosso-blog .modo-de-isolamento {
  height: 6px;
  left: 350px;
  position: absolute;
  top: 224px;
  width: 15px;
}

/* --- Linha 1 de cards --- */
.nosso-blog .mask-group {
  height: 450px;
  left: 102px;
  position: absolute;
  top: 316px;
  width: 289px;
}

.nosso-blog .img {
  height: 450px;
  left: 413px;
  position: absolute;
  top: 316px;
  width: 289px;
}

.nosso-blog .mask-group-2 {
  height: 450px;
  left: 725px;
  position: absolute;
  top: 316px;
  width: 289px;
}

.nosso-blog .mask-group-3 {
  height: 450px;
  left: 1036px;
  position: absolute;
  top: 316px;
  width: 289px;
}

.nosso-blog .text-wrapper-7 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50% - 593px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 564px;
  width: 222px;
}

.nosso-blog .text-wrapper-8 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50% - 285px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 564px;
  width: 221px;
}

.nosso-blog .text-wrapper-9 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50% + 22px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 564px;
  width: 221px;
}

.nosso-blog .text-wrapper-10 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50% + 329px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 564px;
  width: 221px;
}

.nosso-blog .text-wrapper-11 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50% - 590px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 603px;
  width: 240px;
}

.nosso-blog .text-wrapper-12 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50% - 282px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 603px;
  width: 239px;
}

.nosso-blog .text-wrapper-13 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50% + 25px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 603px;
  width: 239px;
}

.nosso-blog .text-wrapper-14 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50% + 332px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 603px;
  width: 240px;
}

.nosso-blog .text-wrapper-15 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 85.07%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 703px;
  width: 4.25%;
}

.nosso-blog .text-wrapper-16 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 9.03%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 705px;
  width: 5.42%;
}

.nosso-blog .text-wrapper-17 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 20.97%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 705px;
  width: 4.31%;
}

.nosso-blog .text-wrapper-18 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 30.42%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 705px;
  width: 5.35%;
}

.nosso-blog .text-wrapper-19 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 42.29%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 705px;
  width: 4.31%;
}

.nosso-blog .text-wrapper-20 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 51.74%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 705px;
  width: 5.35%;
}

.nosso-blog .text-wrapper-21 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 63.68%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 705px;
  width: 4.31%;
}

.nosso-blog .text-wrapper-22 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 73.06%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 705px;
  width: 5.35%;
}

/* --- Linha 2 de cards --- */
.nosso-blog .mask-group-4 {
  height: 450px;
  left: 102px;
  position: absolute;
  top: 802px;
  width: 289px;
}

.nosso-blog .mask-group-5 {
  height: 450px;
  left: 413px;
  position: absolute;
  top: 802px;
  width: 289px;
}

.nosso-blog .mask-group-6 {
  height: 450px;
  left: 725px;
  position: absolute;
  top: 802px;
  width: 289px;
}

.nosso-blog .mask-group-7 {
  height: 450px;
  left: 1036px;
  position: absolute;
  top: 802px;
  width: 289px;
}

.nosso-blog .text-wrapper-23 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50% - 593px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1050px;
  width: 222px;
}

.nosso-blog .text-wrapper-24 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50% - 285px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1050px;
  width: 221px;
}

.nosso-blog .text-wrapper-25 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50% + 22px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1050px;
  width: 221px;
}

.nosso-blog .text-wrapper-26 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50% + 329px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1050px;
  width: 221px;
}

.nosso-blog .text-wrapper-27 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50% - 590px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1089px;
  width: 240px;
}

.nosso-blog .text-wrapper-28 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50% - 282px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1089px;
  width: 239px;
}

.nosso-blog .text-wrapper-29 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50% + 25px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1089px;
  width: 239px;
}

.nosso-blog .text-wrapper-30 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50% + 332px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1089px;
  width: 240px;
}

.nosso-blog .text-wrapper-31 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 85.07%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1190px;
  width: 4.25%;
}

.nosso-blog .text-wrapper-32 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 20.97%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1192px;
  width: 4.31%;
}

.nosso-blog .text-wrapper-33 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 30.42%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1192px;
  width: 5.35%;
}

.nosso-blog .text-wrapper-34 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 42.29%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1192px;
  width: 4.31%;
}

.nosso-blog .text-wrapper-35 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 51.74%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1192px;
  width: 5.35%;
}

.nosso-blog .text-wrapper-36 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 63.68%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1192px;
  width: 4.31%;
}

.nosso-blog .text-wrapper-37 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 73.06%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1192px;
  width: 5.35%;
}

/* --- Linha 3 de cards --- */
.nosso-blog .mask-group-8 {
  height: 450px;
  left: 102px;
  position: absolute;
  top: 1288px;
  width: 289px;
}

.nosso-blog .mask-group-9 {
  height: 450px;
  left: 413px;
  position: absolute;
  top: 1288px;
  width: 289px;
}

.nosso-blog .mask-group-10 {
  height: 450px;
  left: 725px;
  position: absolute;
  top: 1288px;
  width: 289px;
}

.nosso-blog .mask-group-11 {
  height: 450px;
  left: 1036px;
  position: absolute;
  top: 1288px;
  width: 289px;
}

.nosso-blog .text-wrapper-38 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50% - 593px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1537px;
  width: 222px;
}

.nosso-blog .text-wrapper-39 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50% - 285px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1537px;
  width: 221px;
}

.nosso-blog .text-wrapper-40 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50% + 22px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1537px;
  width: 221px;
}

.nosso-blog .text-wrapper-41 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50% + 329px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1537px;
  width: 221px;
}

.nosso-blog .text-wrapper-42 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50% - 590px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1576px;
  width: 240px;
}

.nosso-blog .text-wrapper-43 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50% - 282px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1576px;
  width: 239px;
}

.nosso-blog .text-wrapper-44 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50% + 25px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1576px;
  width: 239px;
}

.nosso-blog .text-wrapper-45 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50% + 332px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1576px;
  width: 240px;
}

.nosso-blog .text-wrapper-46 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 85.07%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1676px;
  width: 4.25%;
}

.nosso-blog .text-wrapper-47 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 20.97%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1678px;
  width: 4.31%;
}

.nosso-blog .text-wrapper-48 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 30.42%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1678px;
  width: 5.35%;
}

.nosso-blog .text-wrapper-49 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 42.29%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1678px;
  width: 4.31%;
}

.nosso-blog .text-wrapper-50 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 51.74%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1678px;
  width: 5.35%;
}

.nosso-blog .text-wrapper-51 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 63.68%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1678px;
  width: 4.31%;
}

.nosso-blog .text-wrapper-52 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 73.06%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1678px;
  width: 5.35%;
}

/* --- Paginação inferior --- */
.nosso-blog .group {
  height: 32px;
  left: 618px;
  position: absolute;
  top: 1792px;
  width: 214px;
}

.nosso-blog .rectangle-6 {
  background-color: #555a57;
  border-radius: 100px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.nosso-blog .rectangle-7 {
  background-color: #ffc600;
  border-radius: 100px;
  height: 32px;
  left: 43px;
  position: absolute;
  top: 0;
  width: 32px;
}

.nosso-blog .rectangle-8 {
  background-color: #ffc600;
  border-radius: 100px;
  height: 32px;
  left: 85px;
  position: absolute;
  top: 0;
  width: 32px;
}

.nosso-blog .rectangle-9 {
  background-color: #ffc600;
  border-radius: 100px;
  height: 32px;
  left: 129px;
  position: absolute;
  top: 0;
  width: 32px;
}

.nosso-blog .rectangle-10 {
  background-color: #ffc600;
  border-radius: 100px;
  height: 32px;
  left: 172px;
  position: absolute;
  top: 0;
  width: 32px;
}

.nosso-blog .text-wrapper-53 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50% - 100px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 18px;
}

.nosso-blog .text-wrapper-54 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50% - 57px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 18px;
}

.nosso-blog .text-wrapper-55 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50% - 14px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 18px;
}

.nosso-blog .text-wrapper-56 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50% + 28px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 19px;
}

.nosso-blog .text-wrapper-57 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50% + 72px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 19px;
}
