.group-wrapper-subsection {
  height: 580px;
  left: 53px;
  position: absolute;
  top: 3810px;
  width: 1358px;
}

.group-wrapper-subsection .rectangle-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 15px;
  height: 363px;
  left: 55px;
  position: absolute;
  top: 215px;
  width: 224px;
}

.group-wrapper-subsection .rectangle-3 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 15px;
  height: 363px;
  left: 302px;
  position: absolute;
  top: 215px;
  width: 223px;
}

.group-wrapper-subsection .rectangle-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 15px;
  height: 363px;
  left: 548px;
  position: absolute;
  top: 215px;
  width: 224px;
}

.group-wrapper-subsection .rectangle-5 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 15px;
  height: 363px;
  left: 795px;
  position: absolute;
  top: 215px;
  width: 223px;
}

.group-wrapper-subsection .rectangle-6 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 15px;
  height: 363px;
  left: 1041px;
  position: absolute;
  top: 215px;
  width: 224px;
}

.group-wrapper-subsection .produtos-em-destaque {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 45px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 618px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 332px;
}

.group-wrapper-subsection .group {
  height: 64px;
  left: 997px;
  position: absolute;
  top: 120px;
  width: 278px;
}

.group-wrapper-subsection .rectangle-7 {
  background-color: #f6be00;
  border-radius: 100px;
  height: 64px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 276px;
}

.group-wrapper-subsection .text-wrapper-5 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
  width: 223px;
}

.group-wrapper-subsection .o-melhor-e-mais {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: calc(50.00% - 620px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 126px;
  width: 430px;
}

.group-wrapper-subsection .modo-de-isolamento {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  height: 193px;
  left: 71px;
  overflow: hidden;
  position: absolute;
  top: 238px;
  width: 194px;
}

.group-wrapper-subsection .t-ok-k-dk {
  display: flex;
  flex: 1;
  width: 194.92px;
}

.group-wrapper-subsection .img {
  flex: 1;
  width: 194px;
}

.group-wrapper-subsection .element-e-wrapper {
  display: flex;
  height: 193px;
  left: 317px;
  overflow: hidden;
  position: absolute;
  top: 238px;
  width: 194px;
}

.group-wrapper-subsection .element-e {
  display: flex;
  flex: 1;
  width: 194.93px;
}

.group-wrapper-subsection .t-ok-k-dk-wrapper {
  display: flex;
  height: 193px;
  left: 564px;
  overflow: hidden;
  position: absolute;
  top: 238px;
  width: 193px;
}

.group-wrapper-subsection .img-wrapper {
  display: flex;
  flex: 1;
  width: 193.92px;
}

.group-wrapper-subsection .img-2 {
  flex: 1;
  width: 193px;
}

.group-wrapper-subsection .element-x-e-po-wrapper {
  display: flex;
  height: 193px;
  left: 811px;
  overflow: hidden;
  position: absolute;
  top: 238px;
  width: 193px;
}

.group-wrapper-subsection .div-wrapper {
  display: flex;
  height: 193px;
  left: 1057px;
  overflow: hidden;
  position: absolute;
  top: 238px;
  width: 193px;
}

.group-wrapper-subsection .removedor-de-grampos {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: calc(50.00% - 607px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 464px;
  width: 193px;
}

.group-wrapper-subsection .p {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: calc(50.00% - 379px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 464px;
  width: 228px;
}

.group-wrapper-subsection .removedor-de-grampos-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: calc(50.00% - 114px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 464px;
  width: 192px;
}

.group-wrapper-subsection .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: calc(50.00% + 119px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 464px;
  width: 220px;
}

.group-wrapper-subsection .removedor-de-grampos-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: calc(50.00% + 379px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 464px;
  width: 192px;
}

.group-wrapper-subsection .text-wrapper-7 {
  color: #555a57;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 525px;
  white-space: nowrap;
  width: 194px;
}

.group-wrapper-subsection .text-wrapper-8 {
  color: #555a57;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 317px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 525px;
  white-space: nowrap;
  width: 194px;
}

.group-wrapper-subsection .text-wrapper-9 {
  color: #555a57;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 564px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 525px;
  white-space: nowrap;
  width: 193px;
}

.group-wrapper-subsection .text-wrapper-10 {
  color: #555a57;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 811px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 525px;
  white-space: nowrap;
  width: 193px;
}

.group-wrapper-subsection .text-wrapper-11 {
  color: #555a57;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 1057px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 525px;
  white-space: nowrap;
  width: 193px;
}

.group-wrapper-subsection .group-2 {
  height: 33px;
  left: 0;
  position: absolute;
  top: 380px;
  width: 1334px;
}
