.div-subsection {
  height: 734px;
  left: 46px;
  position: absolute;
  top: 5459px;
  width: 1362px;
}

.div-subsection .mask-group {
  height: 445px;
  left: 678px;
  position: absolute;
  top: 174px;
  width: 286px;
}

.div-subsection .camada {
  height: 33px;
  left: 0;
  position: absolute;
  top: 380px;
  width: 33px;
}

.div-subsection .camada-2 {
  height: 33px;
  left: 1301px;
  position: absolute;
  top: 380px;
  width: 33px;
}

.div-subsection .mask-group-2 {
  height: 445px;
  left: 62px;
  position: absolute;
  top: 174px;
  width: 286px;
}

.div-subsection .mask-group-3 {
  height: 445px;
  left: 370px;
  position: absolute;
  top: 174px;
  width: 286px;
}

.div-subsection .mask-group-4 {
  height: 445px;
  left: 986px;
  position: absolute;
  top: 174px;
  width: 286px;
}

.div-subsection .confira-nosso-blog {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 45px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 613px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 332px;
}

.div-subsection .text-wrapper-20 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50.00% - 591px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 458px;
  width: 237px;
}

.div-subsection .text-wrapper-21 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50.00% - 287px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 458px;
  width: 237px;
}

.div-subsection .text-wrapper-22 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50.00% + 17px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 458px;
  width: 237px;
}

.div-subsection .text-wrapper-23 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: calc(50.00% + 321px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 458px;
  width: 237px;
}

.div-subsection .rectangle-14 {
  background-color: #000000;
  border-radius: 100px;
  height: 58px;
  left: 531px;
  position: absolute;
  top: 676px;
  width: 249px;
}

.div-subsection .text-wrapper-24 {
  color: #f6be00;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: calc(50.00% - 87px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 694px;
}

.div-subsection .text-wrapper-25 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 3.06%;
  left: 6.61%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 76.29%;
  width: 5.62%;
}

.div-subsection .text-wrapper-26 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 3.06%;
  left: 28.93%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 76.29%;
  width: 5.62%;
}

.div-subsection .text-wrapper-27 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 3.06%;
  left: 51.25%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 76.29%;
  width: 5.62%;
}

.div-subsection .text-wrapper-28 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 3.06%;
  left: 73.57%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 76.29%;
  width: 5.62%;
}

.div-subsection .text-wrapper-29 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 3.06%;
  left: 19.09%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 76.29%;
  width: 4.50%;
}

.div-subsection .text-wrapper-30 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 3.06%;
  left: 41.41%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 76.29%;
  width: 4.50%;
}

.div-subsection .text-wrapper-31 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 3.06%;
  left: 63.73%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 76.29%;
  width: 4.50%;
}

.div-subsection .text-wrapper-32 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 3.06%;
  left: 86.05%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 76.29%;
  width: 4.50%;
}
