.home {
  background-color: #ffffff;
  height: 8621px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.home .overlap-group {
  height: 893px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.home .BANNER {
  height: 809px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.home .text-wrapper-50 {
  color: #f6be00;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 762px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -54px;
}

.home .text-wrapper-51 {
  color: #f6be00;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 978px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -54px;
}

.home .text-wrapper-52 {
  color: #f6be00;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 1105px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -54px;
}

.home .text-wrapper-53 {
  color: #f6be00;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 1297px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -54px;
}

.home .camada-6 {
  height: 33px;
  left: 46px;
  position: absolute;
  top: 1329px;
  width: 33px;
}

.home .text-wrapper-54 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 45px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 240px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 957px;
  white-space: nowrap;
}

.home .text-wrapper-55 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 28px;
  font-weight: 300;
  left: calc(50.00% - 472px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1026px;
}

.home .mask-group-5 {
  height: 585px;
  left: 37px;
  position: absolute;
  top: 2394px;
  width: 320px;
}

.home .manual-marca-VONDER {
  aspect-ratio: 1.21;
  height: 332px;
  left: calc(50.00% - 200px);
  object-fit: cover;
  position: absolute;
  top: 2623px;
  width: 400px;
}

.home .mask-group-6 {
  height: 445px;
  left: 724px;
  position: absolute;
  top: 1123px;
  width: 286px;
}

.home .camada-7 {
  height: 33px;
  left: 1347px;
  position: absolute;
  top: 1329px;
  width: 33px;
}

.home .rectangle-22 {
  background-color: #0e0e0e;
  height: 853px;
  left: 0;
  position: absolute;
  top: 3673px;
  width: 1440px;
}

.home .rectangle-23 {
  background-color: #dfeaf0;
  height: 479px;
  left: 0;
  position: absolute;
  top: 4895px;
  width: 1440px;
}

.home .ltimos-lan-amentos-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 45px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 166px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2416px;
  width: 332px;
}

.home .o-melhor-e-mais-3 {
  color: #333333;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: calc(50.00% - 215px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2536px;
  width: 430px;
}

.home .ltimos-lan-amentos-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 65px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 548px);
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 3166px;
  width: 499px;
}

.home .o-melhor-e-mais-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 300;
  left: calc(50.00% - 550px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3343px;
  width: 363px;
}

.home .group-5 {
  height: 63px;
  left: 170px;
  position: absolute;
  top: 3498px;
  width: 400px;
}

.home .rectangle-24 {
  background-color: #000000;
  border-radius: 100px;
  height: 63px;
  left: 0;
  position: absolute;
  top: 0;
  width: 398px;
}

.home .text-wrapper-56 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 285px;
}

.home .sem-titulo {
  aspect-ratio: 1.04;
  height: 488px;
  left: 736px;
  object-fit: cover;
  position: absolute;
  top: 3103px;
  width: 507px;
}

.home .mask-group-7 {
  height: 585px;
  left: 1083px;
  position: absolute;
  top: 2394px;
  width: 320px;
}

.home .mask-group-8 {
  height: 445px;
  left: 108px;
  position: absolute;
  top: 1123px;
  width: 286px;
}

.home .mask-group-9 {
  height: 445px;
  left: 416px;
  position: absolute;
  top: 1123px;
  width: 286px;
}

.home .mask-group-10 {
  height: 445px;
  left: 1032px;
  position: absolute;
  top: 1123px;
  width: 286px;
}

.home .group-6 {
  height: 68px;
  left: 438px;
  position: absolute;
  top: 1455px;
  width: 244px;
}

.home .rectangle-25 {
  background-color: #000000;
  border-radius: 100px;
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 242px;
}

.home .transporte-e {
  color: #f6be00;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: calc(50.00% - 75px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
}

.home .group-7 {
  height: 68px;
  left: 746px;
  position: absolute;
  top: 1455px;
  width: 244px;
}

.home .manuten-o-automotiva {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: calc(50.00% - 62px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
}

.home .group-8 {
  height: 68px;
  left: 1054px;
  position: absolute;
  top: 1455px;
  width: 244px;
}

.home .group-9 {
  height: 68px;
  left: 130px;
  position: absolute;
  top: 1455px;
  width: 244px;
}

.home .constru-o-civil {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: calc(50.00% - 58px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
}

.home .rectangle-26 {
  background-color: #f2f2f2;
  height: 927px;
  left: 0;
  position: absolute;
  top: 6296px;
  width: 1440px;
}

.home .rectangle-27 {
  background-color: #ffffff;
  border-radius: 15px;
  height: 169px;
  left: 108px;
  position: absolute;
  top: 6923px;
  width: 286px;
}

.home .rectangle-28 {
  background-color: #ffffff;
  border-radius: 15px;
  height: 169px;
  left: 416px;
  position: absolute;
  top: 6923px;
  width: 286px;
}

.home .rectangle-29 {
  background-color: #ffffff;
  border-radius: 15px;
  height: 169px;
  left: 724px;
  position: absolute;
  top: 6923px;
  width: 286px;
}

.home .rectangle-30 {
  background-color: #ffffff;
  border-radius: 15px;
  height: 169px;
  left: 1032px;
  position: absolute;
  top: 6923px;
  width: 286px;
}

.home .confira-nossas-redes {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 45px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 606px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6419px;
  width: 332px;
}

.home .mask-group-11 {
  height: 351px;
  left: 108px;
  position: absolute;
  top: 6680px;
  width: 286px;
}

.home .mask-group-12 {
  height: 351px;
  left: 416px;
  position: absolute;
  top: 6680px;
  width: 286px;
}

.home .mask-group-13 {
  height: 351px;
  left: 724px;
  position: absolute;
  top: 6680px;
  width: 286px;
}

.home .mask-group-14 {
  height: 351px;
  left: 1032px;
  position: absolute;
  top: 6680px;
  width: 286px;
}

.home .vector {
  height: 23.66%;
  left: 39.03%;
  position: absolute;
  top: 76.34%;
  width: 60.97%;
}

.home .vector-2 {
  height: 23.66%;
  left: 43.34%;
  position: absolute;
  top: 76.34%;
  width: 56.66%;
}

.home .vector-3 {
  height: 23.66%;
  left: 47.66%;
  position: absolute;
  top: 76.34%;
  width: 52.34%;
}

.home .vector-4 {
  height: 23.66%;
  left: 51.97%;
  position: absolute;
  top: 76.34%;
  width: 48.03%;
}

.home .vector-5 {
  height: 23.54%;
  left: 39.84%;
  position: absolute;
  top: 76.46%;
  width: 60.16%;
}

.home .vector-6 {
  height: 23.56%;
  left: 44.46%;
  position: absolute;
  top: 76.44%;
  width: 55.54%;
}

.home .vector-7 {
  height: 23.54%;
  left: 48.53%;
  position: absolute;
  top: 76.46%;
  width: 51.47%;
}

.home .vector-8 {
  height: 23.51%;
  left: 52.72%;
  position: absolute;
  top: 76.49%;
  width: 47.28%;
}

.home .vector-9 {
  height: 18.29%;
  left: 23.70%;
  position: absolute;
  top: 81.71%;
  width: 76.30%;
}

.home .vector-10 {
  height: 18.29%;
  left: 45.09%;
  position: absolute;
  top: 81.71%;
  width: 54.91%;
}

.home .vector-11 {
  height: 18.29%;
  left: 66.48%;
  position: absolute;
  top: 81.71%;
  width: 33.52%;
}

.home .vector-12 {
  height: 18.29%;
  left: 87.87%;
  position: absolute;
  top: 81.71%;
  width: 12.13%;
}

.home .vector-13 {
  height: 18.19%;
  left: 24.26%;
  position: absolute;
  top: 81.81%;
  width: 75.74%;
}

.home .vector-14 {
  height: 18.19%;
  left: 45.64%;
  position: absolute;
  top: 81.81%;
  width: 54.36%;
}

.home .vector-15 {
  height: 18.19%;
  left: 67.03%;
  position: absolute;
  top: 81.81%;
  width: 32.97%;
}

.home .vector-16 {
  height: 18.19%;
  left: 88.42%;
  position: absolute;
  top: 81.81%;
  width: 11.58%;
}

.home .text-wrapper-57 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 8.75%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 81.77%;
  width: 13.26%;
}

.home .text-wrapper-58 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 30.14%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 81.77%;
  width: 13.26%;
}

.home .text-wrapper-59 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 51.53%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 81.77%;
  width: 13.26%;
}

.home .text-wrapper-60 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 0;
  left: 72.92%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 81.77%;
  width: 13.26%;
}

.home .sempre-com-voc {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 45px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 589px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7330px;
  width: 332px;
}

.home .saiba-onde-encontrar {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 45px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 143px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7330px;
  width: 332px;
}

.home .entre-em-contato {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 45px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% + 303px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7330px;
  width: 295px;
}

.home .text-wrapper-61 {
  color: #333333;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 300;
  left: calc(50.00% - 591px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7456px;
  width: 377px;
}

.home .text-wrapper-62 {
  color: #333333;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 300;
  left: calc(50.00% - 145px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7456px;
  width: 334px;
}

.home .text-wrapper-63 {
  color: #333333;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 300;
  left: calc(50.00% + 301px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7456px;
  width: 285px;
}

.home .rectangle-31 {
  background-color: #000000;
  border-radius: 100px;
  height: 58px;
  left: 129px;
  position: absolute;
  top: 7567px;
  width: 249px;
}

.home .rectangle-32 {
  background-color: #000000;
  border-radius: 100px;
  height: 58px;
  left: 575px;
  position: absolute;
  top: 7567px;
  width: 285px;
}

.home .rectangle-33 {
  background-color: #000000;
  border-radius: 100px;
  height: 58px;
  left: 1021px;
  position: absolute;
  top: 7567px;
  width: 249px;
}

.home .text-wrapper-64 {
  color: #f6be00;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: calc(50.00% - 537px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7585px;
}

.home .text-wrapper-65 {
  color: #f6be00;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: calc(50.00% - 105px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7585px;
}

.home .text-wrapper-66 {
  color: #f6be00;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: calc(50.00% + 375px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7585px;
}

.home .vector-17 {
  height: 40.76%;
  left: 27.85%;
  position: absolute;
  top: 59.24%;
  width: 72.15%;
}

.home .vector-18 {
  height: 40.76%;
  left: 44.17%;
  position: absolute;
  top: 59.24%;
  width: 55.83%;
}

.home .vector-19 {
  height: 40.76%;
  left: 60.49%;
  position: absolute;
  top: 59.24%;
  width: 39.51%;
}

.home .vector-20 {
  height: 39.87%;
  left: 27.85%;
  position: absolute;
  top: 60.13%;
  width: 72.15%;
}

.home .vector-21 {
  height: 39.87%;
  left: 44.17%;
  position: absolute;
  top: 60.13%;
  width: 55.83%;
}

.home .vector-22 {
  height: 39.87%;
  left: 60.49%;
  position: absolute;
  top: 60.13%;
  width: 39.51%;
}

.home .vector-23 {
  height: 38.97%;
  left: 27.85%;
  position: absolute;
  top: 61.03%;
  width: 72.15%;
}

.home .vector-24 {
  height: 38.97%;
  left: 44.17%;
  position: absolute;
  top: 61.03%;
  width: 55.83%;
}

.home .vector-25 {
  height: 38.97%;
  left: 60.49%;
  position: absolute;
  top: 61.03%;
  width: 39.51%;
}

.home .text-wrapper-67 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 275px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5105px;
  width: 124px;
}

.home .text-wrapper-68 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 40px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5105px;
  width: 129px;
}

.home .text-wrapper-69 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% + 195px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5105px;
  width: 124px;
}

.home .text-wrapper-70 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 275px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5182px;
  width: 124px;
}

.home .text-wrapper-71 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 40px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5182px;
  width: 129px;
}

.home .text-wrapper-72 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% + 195px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5182px;
  width: 124px;
}

.home .text-wrapper-73 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 275px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5259px;
  width: 124px;
}

.home .text-wrapper-74 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 40px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5259px;
  width: 129px;
}

.home .text-wrapper-75 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% + 195px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5259px;
  width: 124px;
}

.home .text-wrapper-76 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50.00% - 587px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5879px;
  width: 219px;
}

.home .text-wrapper-77 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50.00% - 283px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5879px;
  width: 219px;
}

.home .text-wrapper-78 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50.00% + 21px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5879px;
  width: 219px;
}

.home .text-wrapper-79 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: calc(50.00% + 325px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5879px;
  width: 219px;
}

.home .lavadoras {
  aspect-ratio: 1.71;
  height: 527px;
  left: 280px;
  object-fit: cover;
  position: absolute;
  top: 4552px;
  width: 899px;
}
