.onde-comprar-vonder {
  background-color: #ffffff;
  height: 1580px;
  min-width: 1440px;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.onde-comprar-vonder .group {
  height: 58px;
  left: 515px;
  position: absolute;
  top: 329px;
  width: 413px;
}

.onde-comprar-vonder .rectangle {
  background-color: #f6be00;
  border-radius: 100px;
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 411px;
}

.onde-comprar-vonder .text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
}

.onde-comprar-vonder .div-text {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: calc(50.00% - 617px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 300px;
}

.onde-comprar-vonder .procurando-por {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 45px;
  font-style: italic;
  font-weight: 700;
  left: calc(50.00% - 330px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 660px;
}

.onde-comprar-vonder .p-text {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 700;
  height: 2.94%;
  left: calc(50.00% - 298px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 200px;
  width: 597px;
}

.onde-comprar-vonder .camada {
  height: 28px;
  left: 887px;
  position: absolute;
  top: 344px;
  width: 19px;
}

.onde-comprar-vonder .group-2 {
  height: 94px;
  left: calc(50.00% - 544px);
  position: absolute;
  top: 1045px;
  width: 341px;
}

.onde-comprar-vonder .grupo-ovd-centro {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: calc(50.00% - 132px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 300px;
}

.onde-comprar-vonder .span {
  font-weight: 700;
}

.onde-comprar-vonder .text-wrapper-2 {
  font-weight: 300;
}

.onde-comprar-vonder .img {
  height: 28px;
  left: 0;
  position: absolute;
  top: 33px;
  width: 19px;
}

.onde-comprar-vonder .group-3 {
  height: 94px;
  left: calc(50.00% - 544px);
  position: absolute;
  top: 1180px;
  width: 341px;
}

.onde-comprar-vonder .group-4 {
  height: 94px;
  left: calc(50.00% - 544px);
  position: absolute;
  top: 1315px;
  width: 341px;
}

.onde-comprar-vonder .group-5 {
  height: 94px;
  left: calc(50.00% - 544px);
  position: absolute;
  top: 1450px;
  width: 341px;
}

.onde-comprar-vonder .group-6 {
  height: 94px;
  left: calc(50.00% - 169px);
  position: absolute;
  top: 1045px;
  width: 341px;
}

.onde-comprar-vonder .group-7 {
  height: 94px;
  left: calc(50.00% - 169px);
  position: absolute;
  top: 1180px;
  width: 341px;
}

.onde-comprar-vonder .group-8 {
  height: 94px;
  left: calc(50.00% - 169px);
  position: absolute;
  top: 1315px;
  width: 341px;
}

.onde-comprar-vonder .group-9 {
  height: 94px;
  left: calc(50.00% - 169px);
  position: absolute;
  top: 1450px;
  width: 341px;
}

.onde-comprar-vonder .group-10 {
  height: 94px;
  left: calc(50.00% + 206px);
  position: absolute;
  top: 1045px;
  width: 341px;
}

.onde-comprar-vonder .group-11 {
  height: 94px;
  left: calc(50.00% + 206px);
  position: absolute;
  top: 1180px;
  width: 341px;
}

.onde-comprar-vonder .group-12 {
  height: 94px;
  left: calc(50.00% + 206px);
  position: absolute;
  top: 1315px;
  width: 341px;
}

.onde-comprar-vonder .group-13 {
  height: 94px;
  left: calc(50.00% + 206px);
  position: absolute;
  top: 1450px;
  width: 341px;
}

.onde-comprar-vonder .group-14 {
  height: 32px;
  left: 299px;
  position: absolute;
  top: 466px;
  width: 848px;
}

.onde-comprar-vonder .rectangle-2 {
  background-color: #1c1d1a;
  border-radius: 100px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 262px;
}

.onde-comprar-vonder .rectangle-3 {
  border: 1px solid;
  border-color: #000000;
  border-radius: 100px;
  height: 32px;
  left: 290px;
  position: absolute;
  top: 0;
  width: 262px;
}

.onde-comprar-vonder .rectangle-4 {
  border: 1px solid;
  border-color: #000000;
  border-radius: 100px;
  height: 32px;
  left: 580px;
  position: absolute;
  top: 0;
  width: 262px;
}

.onde-comprar-vonder .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50.00% - 408px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 232px;
}

.onde-comprar-vonder .text-wrapper-4 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50.00% - 118px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 232px;
}

.onde-comprar-vonder .text-wrapper-5 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: calc(50.00% + 172px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 232px;
}

.onde-comprar-vonder .mask-group {
  height: 423px;
  left: 103px;
  position: absolute;
  top: 552px;
  width: 1218px;
}
