.footer-subsection-wrapper {
  background-color: transparent;
  height: 881px;
  left: 1px;
  position: absolute;
  top: 7740px;
  width: 1472px;
}

.footer-subsection-wrapper .rectangle-15 {
  background-color: #555a57;
  border-radius: 0px 0px 15px 15px;
  height: 279px;
  left: 1px;
  position: absolute;
  top: 1px;
  transform: rotate(-180deg);
  width: 1440px;
}

.footer-subsection-wrapper .rectangle-16 {
  background-color: #000000;
  border-radius: 0px 0px 15px 15px;
  height: 581px;
  left: 1px;
  position: absolute;
  top: 226px;
  transform: rotate(-180deg);
  width: 1440px;
}

.footer-subsection-wrapper .rectangle-17 {
  background-color: #ffc600;
  border-radius: 100px;
  height: 58px;
  left: 1065px;
  position: absolute;
  top: 61px;
  width: 191px;
}

.footer-subsection-wrapper .ao-se-cadastrar {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: calc(50.00% - 229px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 142px;
}

.footer-subsection-wrapper .white-span {
  color: #ffffff;
}

.footer-subsection-wrapper .terms-highlight {
  color: #ffc600;
}

.footer-subsection-wrapper .sobre-a-vonder-blog {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: calc(50.00% - 562px);
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 448px;
  width: 275px;
}

.footer-subsection-wrapper .text-wrapper-34 {
  line-height: 32px;
}

.footer-subsection-wrapper .text-wrapper-35 {
  line-height: 25px;
}

.footer-subsection-wrapper .duvidas-frequentes {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: calc(50.00% - 277px);
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 448px;
  width: 231px;
}

.footer-subsection-wrapper .assistencia-ao {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: calc(50.00% + 24px);
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 448px;
  width: 214px;
}

.footer-subsection-wrapper .text-wrapper-36 {
  font-weight: 300;
}

.footer-subsection-wrapper .text-wrapper-37 {
  font-weight: 500;
}

.footer-subsection-wrapper .text-wrapper-38 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: calc(50.00% + 24px);
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 640px;
  width: 214px;
}

.footer-subsection-wrapper .text-wrapper-39 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 303px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 484px;
}

.footer-subsection-wrapper .text-wrapper-40 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 2.55%;
  left: 11.85%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46.54%;
  width: 10.19%;
}

.footer-subsection-wrapper .text-wrapper-41 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 2.50%;
  left: 31.18%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46.54%;
  width: 13.45%;
}

.footer-subsection-wrapper .text-wrapper-42 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 2.50%;
  left: 51.63%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46.54%;
  width: 13.45%;
}

.footer-subsection-wrapper .text-wrapper-43 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 2.50%;
  left: 51.63%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 69.01%;
  width: 15.49%;
}

.footer-subsection-wrapper .camada-3 {
  height: 43px;
  left: 1030px;
  position: absolute;
  top: 448px;
  width: 230px;
}

.footer-subsection-wrapper .text-wrapper-44 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 2.50%;
  left: 69.97%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46.54%;
  width: 13.45%;
}

.footer-subsection-wrapper .text-wrapper-45 {
  color: #ffc600;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 700;
  height: 9.08%;
  left: 12.57%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7.72%;
  width: 18.21%;
}

.footer-subsection-wrapper .rectangle-18 {
  background-color: #ffffff;
  border-radius: 100px;
  height: 58px;
  left: 480px;
  position: absolute;
  top: 61px;
  width: 281px;
}

.footer-subsection-wrapper .rectangle-19 {
  background-color: #ffffff;
  border-radius: 100px;
  height: 58px;
  left: 773px;
  position: absolute;
  top: 61px;
  width: 281px;
}

.footer-subsection-wrapper .text-wrapper-46 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 2.84%;
  left: 34.99%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8.97%;
  width: 9.04%;
}

.footer-subsection-wrapper .text-wrapper-47 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 2.84%;
  left: 54.62%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8.97%;
  width: 9.04%;
}

.footer-subsection-wrapper .text-wrapper-48 {
  color: #3e3e3e;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 2.84%;
  left: 74.8%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8.97%;
  width: 8.08%;
}

.footer-subsection-wrapper .rectangle-20 {
  background-color: #d9d9d9;
  height: 19px;
  left: 480px;
  position: absolute;
  top: 142px;
  width: 19px;
}

.footer-subsection-wrapper .rectangle-21 {
  background-color: #ffc600;
  height: 74px;
  left: 0;
  position: absolute;
  top: 807px;
  width: 1440px;
}

.footer-subsection-wrapper .camada-4 {
  height: 58px;
  left: calc(50.00% - 120px);
  position: absolute;
  top: 298px;
  width: 208px;
}

.footer-subsection-wrapper .camada-5 {
  background-image: url(https://c.animaapp.com/rXVI3QVk/img/layer-0@2x.png);
  background-size: 100% 100%;
  height: 75px;
  left: 1073px;
  position: absolute;
  top: 555px;
  width: 142px;
}

.footer-subsection-wrapper .text-wrapper-49 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 2.5%;
  left: calc(50.00% - 242px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 94.67%;
  width: 452px;
}
